* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .background {
    font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
   background-image: url("https://wallpaperaccess.com/full/1155050.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .container {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  